In [3]:
import pandas as pd
import numpy as np
import datetime

import iexfinance as iex
from iexfinance.stocks import Stock
from iexfinance.stocks import get_historical_data

import requests_cache

import requests
import json

# Initializing API

In [4]:
root_endpoint = 'https://api.iextrading.com/1.0'

In [5]:
company = ['aapl']
data_path = r'/stock/'+ company[0] + r'/earnings'
url = root_endpoint+data_path
response = requests.get(url=url)

# if (response.ok):
#     jData = json.loads(response.content)

In [6]:
url = 'https://api.iextrading.com/1.0/stock/aapl/earnings/'
response = requests.get(url=url, )

In [14]:
Stock(company, output_format='pandas').get_earnings()

,EPSSurpriseDollar,actualEPS,announceTime,consensusEPS,estimatedChangePercent,estimatedEPS,fiscalEndDate,fiscalPeriod,numberOfEstimates,symbolId,yearAgo,yearAgoChangePercent
EPSReportDate,,,,,,,,,,,,
2019-01-29,0.01,4.18,AMC,4.17,0.071979,4.17,2018-12-31,Q1 2019,11,11,3.89,0.074550
2018-11-01,0.12,2.91,AMC,2.79,0.347826,2.79,2018-09-30,Q4 2018,12,11,2.07,0.405797
2018-07-31,0.17,2.34,AMC,2.17,0.299401,2.17,2018-06-30,Q3 2018,10,11,1.67,0.401198
2018-05-01,0.04,2.73,AMC,2.69,0.280952,2.69,2018-03-31,Q2 2018,10,11,2.10,0.300000

In [8]:
url

'https://api.iextrading.com/1.0/stock/aapl/earnings/'

In [9]:
stock_list = ['TSLA', 'MSFT']

Stock(stock_list, output_format='pandas').get_price()
# Stock(stock_list, output_format='pandas').get_quote()

        TSLA    MSFT
TSLA  298.77  111.59
MSFT  298.77  111.59

In [10]:
start = datetime.datetime(2018,1,1)
end = datetime.datetime.today()

companies = ['AAPL', 'TSLA', 'MSFT']

expiry = datetime.timedelta(days=3)
session = requests_cache.CachedSession(cache_name='cache', backend='sqlite', expire_after=expiry)

hist_data = get_historical_data(companies, session=session)

In [11]:
hist_data.keys()

dict_keys(['AAPL', 'TSLA', 'MSFT'])

In [12]:
for i in companies:
    df = pd.DataFrame.from_dict(hist_data[i]).T

In [13]:
df

               close      high       low      open       volume
2015-01-02   42.4187   43.0174   42.2191   42.3280   27913852.0
2015-01-05   42.0241   42.3915   41.9560   42.0649   39673865.0
2015-01-06   41.4118   42.4087   41.3120   42.0740   36447854.0
2015-01-07   41.9379   42.1466   41.2666   41.7111   29114061.0
2015-01-08   43.1716   43.3167   42.3824   42.4096   29645202.0
2015-01-09   42.8088   43.3803   42.5457   43.1898   23944181.0
2015-01-12   42.2736   43.1263   42.0558   43.0174   23651887.0
2015-01-13   42.0513   43.4619   41.7837   42.6092   35270601.0
2015-01-14   41.6884   41.9470   41.3845   41.6930   29719580.0
2015-01-15   41.2575   42.0740   41.1940   41.9288   32750779.0
2015-01-16   41.9470   41.9833   40.9763   41.1033   35695289.0
2015-01-20   42.0830   42.3189   41.3392   42.0014   36161860.0
2015-01-21   41.6567   41.8563   41.2575   41.6748   39081143.0
2015-01-22   42.7543   42.7589   41.8018   42.0740   35898035.0
2015-01-23   42.7997   42.9902   42.4550   42.9630   26211594.0
2015-01-26   42.6455   42.7579   41.9469   42.6364   42525530.0
2015-01-27   38.6994   39.1892   38.1959   38.9624  169163953.0
2015-01-28   37.3658   38.8173   37.3386   38.7719   84507078.0
2015-01-29   38.1097   38.2095   37.0030   37.1300   63585273.0
2015-01-30   36.6492   37.7196   36.6038   37.6924   78004944.0
2015-02-02   37.4475   37.5291   36.4950   36.8215   50352532.0
2015-02-03   37.7378   38.0371   37.2343   37.7650   52082448.0
2015-02-04   37.9555   38.2911   37.5200   38.0462   41614812.0
2015-02-05   38.5088   38.6812   37.9691   38.3002   36548168.0
2015-02-06   38.4726   38.8173   38.2367   38.7175   34616554.0
2015-02-09   38.4272   38.7719   38.2911   38.3183   31381061.0
2015-02-10   38.6449   38.7991   38.2639   38.7719   29670676.0
2015-02-11   38.4453   38.6903   38.2911   38.6903   38262509.0
2015-02-12   39.0894   39.0894   38.5633   38.6994   33268831.0
2015-02-13   39.7970   39.7970   39.1439   39.3525   40264887.0
...              ...       ...       ...       ...          ...
2019-01-11  102.3628  103.0001  101.2077  102.7511   28314202.0
2019-01-14  101.6160  102.4341  100.8293  101.4666   28437079.0
2019-01-15  104.5634  104.6032  101.4467  102.0740   31587616.0
2019-01-16  104.9318  105.8031  104.5136  104.8123   29853865.0
2019-01-17  105.6687  106.1715  104.3145  104.5534   28393015.0
2019-01-18  107.2519  107.4411  105.4596  107.0030   37427587.0
2019-01-22  105.2305  106.6445  104.4140  106.2960   32371253.0
2019-01-23  106.2562  106.5848  104.8920  105.6687   25874294.0
2019-01-24  105.7483  106.5449  104.8920  106.4055   23164838.0
2019-01-25  106.7142  107.4212  106.1367  106.7839   31218193.0
2019-01-28  104.6331  106.0271  104.2149  105.8081   29476719.0
2019-01-29  102.5022  104.5236  101.7355  104.4339   31490547.0
2019-01-30  105.9276  105.9276  103.8863  104.1751   49471866.0
2019-01-31  103.9859  104.7725  102.7412  103.3585   55636391.0
2019-02-01  102.3429  103.6572  101.9147  103.3336   35535690.0
2019-02-04  105.2903  105.3500  102.3329  102.4325   31315282.0
2019-02-05  106.7640  106.8138  105.5094  105.6089   27325365.0
2019-02-06  105.5791  106.5449  105.0812  106.5449   20609759.0
2019-02-07  104.8223  105.1409  103.8465  104.7376   29760697.0
2019-02-08  105.2206  105.3301  103.8169  103.9460   21461093.0
2019-02-11  104.8024  106.1267  104.5186  105.7483   18914123.0
2019-02-12  106.4354  106.6843  105.0314  105.6886   25056595.0
2019-02-13  106.3557  107.3216  106.2562  107.0428   18394869.0
2019-02-14  106.4454  106.8337  105.2106  105.8579   21784703.0
2019-02-15  107.7597  107.8394  106.9058  107.4511   26606886.0
2019-02-19  107.7100  108.1979  107.3216  107.3316   18038460.0
2019-02-20  107.1500  107.9400  106.2900  107.8600   21607671.0
2019-02-21  109.4100  109.4800  106.8700  106.9000   29063231.0
2019-02-22  110.9700  111.2000  109.8200  110.0500   27763218.0
2019-02-25  111.5900  112.1800  111.2600  111.7600   23750599.0

[1043 rows x 5 columns]